@keyframes fadeInDown {
    0% {
        opacity: 0;
        transform: translateY(-20px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.home {
    height: 90vh;
    width: 100vw;
    background-color: #00224B;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.home-content {
    padding: 10px;
    margin-left: 5vw;
    margin-right: 5vw;
    display: flex;
    flex-direction: column;
    animation: fadeInDown 1.5s;
}

.home-welcome {
    font-size: 3rem;
}

.home-full-name {
    color: #CEBDF1;
    margin-top: 10px;
    font-size: 6rem;
    font-weight: bolder;
}

.home-description {
    font-family: 'Courier New', Courier, monospace;
    margin-top: 10px;
    font-size: 1.5rem;
    width: 75%;
}

.home-button-row {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
}

@media only screen and (max-width: 768px) {
    .home-welcome {
        font-size: 1.5rem;
    }

    .home-full-name {
        font-size: 2.5rem;
    }

    .home-description {
        font-size: 1.25rem;
        width: 100%;
    }
}