.projects {
    min-height: 90vh;
    width: 100vw;
    background-color: #00224B;
    color: white;
}

.projects-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
    gap: 20px;
}

.projects-bubble {
    max-width: 1000px;
    width: 90vw;
    display: flex;
    flex-direction: row;
}

.project-bubble-text-half {
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 40%
}

.project-bubble-image-half {
    width: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.project-bubble-title {
    padding: 10px;
    font-size: 2rem;
}

.project-bubble-links {
    width: 20%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.project-bubble-description {
    padding: 10px;
    font-size: 1.25rem;
    font-family: sans-serif;
    text-align: center;
}

.project-bubble-image {
    height: 250px;
    width: 500px;
    object-fit: cover;
}

.project-bubble-skills {
    padding: 10px;
    font-family: sans-serif;
}

@media only screen and (max-width: 900px) {
    .projects-bubble {
        flex-direction: column;
    }

    .project-bubble-title {
        font-size: 2rem;
    }

    .project-bubble-text-half {
        height: 100%;
        width: 95%;
        border: 1px solid #CEBDF1;
        border-radius: 15px
    }

    .project-bubble-image-half {
        display: none;
    }

    .projects-bubble {
        width: 80vw;
    }

}